.header-background-color {
    background-color: #141D29
}

body {
    margin: 0 auto;
    padding: 0 auto;
    background-color: #141D29 
}

.nav-list {
    list-style-type: none;
    display: block;
}

.nav-list-item {
    color: #9C9D9F;
    transition-duration: 0.5s
}

.nav-list-item:hover {
    color: white;
    transition-duration: 0.5s;
}
